<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Photo Gallery</title>

        <script src="http://code.jquery.com/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vegas/2.4.4/vegas.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vegas/2.4.4/vegas.min.js"></script>

        <style>
            body {
                background-color: #222;
            }
        </style>
    </head>
    <body>
        
        <script>
            var host = window.location.protocol + '//{{ request.get_host }}'
            var photos = []

            function initialiseGallery () {
                try {
                    $('body').vegas('destroy')
                } catch (exc) {
                    // Do nothing
                }
                $.get(
                    host + '/photos/list',
                    function (data) {
                        photos = data.photos.map(function (item) {
                            return { src: host + '/' + item }
                        })

                        $('body').vegas({
                            slides: photos
                        })
                    }
                )
            }

            $(document).ready(function() {
                initialiseGallery()
            });

            var socket = new WebSocket(
                'ws://' + window.location.host +
                '/ws/photos/');

            socket.onmessage = function(message) {
                var data = JSON.parse(message.data);
                if (data.message === 'updated') {
                    initialiseGallery()
                }
            };

            socket.onclose = function(e) {
                console.error('Socket closed unexpectedly');
            };
        </script>
    </body>
</html>
